
<!-- views/applications/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your Apps</title>
  </head>
  <body>
    <%- include("../partials/navbar.ejs")%>
    <h1>Your Apps</h1>
    <a href="/users/<%=user._id%>/applications/new">Add an App</a>
    <% if(applications){ applications.forEach((oneApplication)=>{%>
      <a href="/users/<%=user._id%>/applications/<%=oneApplication._id%>"> <li><%=oneApplication.title%> at <%= oneApplication.company%></li></a>
     
    <%})}%>

  </body>
</html>

